/* :root {
    --thistle: #cdb4dbff;
    --fairy-tale: #ffc8ddff;
    --carnation-pink: #ffafccff;
    --uranian-blue: #bde0feff;
    --light-sky-blue: #a2d2ffff;
} */

:root {
    --thistle: rgb(243, 238, 246);
    --rich-black: #03071eff;
    --chocolate-cosmos: #370617ff;
    --rosewood: #6a040fff;
    --penn-red: #9d0208ff;
    --engineering-orange: #d00000ff;
    --sinopia: #dc2f02ff;
    --persimmon: #e85d04ff;
    --princeton-orange: #f48c06ff;
    --orange-web: rgb(248, 220, 168);
    --selective-yellow: #ffba08ff;
}


body {
    background-color: #ddd3f6;
    opacity: 0.8;
    background-image: radial-gradient(#f95a00 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
}





/* Global css for button */
.loginbtn {
    height: 50px;
    padding: 0.05em 1.3em;
    border: 2px solid white;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 30px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.loginbtn:before {
    content: "";
    background: -o-linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    -webkit-animation: glowing-loginbtn 20s linear infinite;
    animation: glowing-loginbtn 20s linear infinite;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    border-radius: 30px;
}

@-webkit-keyframes glowing-loginbtn {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes glowing-loginbtn {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.loginbtn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: -o-linear-gradient(45deg, rgb(62, 0, 71), rgb(0, 0, 70));
    background: linear-gradient(45deg, rgb(62, 0, 71), rgb(0, 0, 70));
    left: 0;
    top: 0;
    border-radius: 30px;
}

.loginbtn:hover {
    border: 2px solid rgb(9, 255, 0);
}