.modal-content {
  background-color: transparent;
  border: none;
  align-items: center;
}

.LoginForm {
 
}

.LoginForm p {
  text-align: center;
}
.LoginForm a{
  display: flex;
  justify-content: space-around;
}
.LoginForm .form-control {
  border: 2px solid rgba(8, 4, 3, 0.934);
  margin: 20px;
  background-color: var(--thistle);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
  border-radius: 20px;
}

.LoginForm .title {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
}

.LoginForm .input-field {
  position: relative;
  width: 100%;
}

.LoginForm .input {
  margin-top: 15px;
  width: 100%;
  outline: none;
  border-radius: 8px;
  height: 45px;
  border: 2px solid #ecedec;
  background: transparent;
  padding-left: 10px;
}

.LoginForm .input:focus {
  border: 1.5px solid #040508;
}

.LoginForm .input-field .label {
  position: absolute;
  top: 25px;
  left: 15px;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.LoginForm .input-field .input:focus~.label,
.LoginForm .input-field .input:valid~.label {
  top: 5px;
  left: 5px;
  font-size: 12px;
  color: #040a13d5;
  background-color: #dada12;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 6px;
}

.LoginForm .submit-btn {
  margin-top: 30px;
  height: 55px;
  /* background: #f2f2f2; */
  border-radius: 15px;
  border: 1px solid whitesmoke;
  outline: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  /* background: linear-gradient(180deg, #363636 0%, #1b1b1b 50%, #000000 100%); */
  background-color: rgb(133, 4, 133);
  box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #000000;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
}

.LoginForm .submit-btn:hover {
  box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 4px #0000003a;
}