/* Navbar.css */

.custom-navbar {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}
.custom-navbar li{

}
.custom-navbar .navbar-brand {
  font-size: 30px;
  font-family: cursive;
  font-weight: bold;
  margin-right: 90px;
}

.custom-navbar .navbar-nav .nav-item {
  font-size: large;
  margin-right: 50px;
  
}

.custom-navbar .navbar-nav .nav-link {
  color: white;
  position: relative;
}

.custom-navbar .navbar-nav .nav-item:hover {
  background-color: #673ab7;
  border-radius: 12px;
}

.custom-navbar .navbar-toggler {
  color: white;
  border-color: white;
}

.custom-navbar button {
  height: 40px;
  width: 90px;
  color: whitesmoke;
  background-color: rgb(133, 4, 133);
  border: 2px solid white;
  border-radius: 12px;
  margin-right: 10px;
}

/* .custom-navbar .navbar-nav .nav-item:hover::before {
  width: 10px;
  height: 10px;
  background-color: #673ab7;
  border:solid white;
  border-radius: 12px;
} */

.d-flex {
  display: flex;
  align-items: center;
}

.vertical-line {
  height: 30px;
  border-left: 1px solid #ccc;
  margin: 0 10px;
}